@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Overpass:wght@600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: rgb(113, 137, 172);
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
body {
  background-image: url("/IMG/jake-weirick-GmpAopbwjaE-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}
h1 {
  font-size: 2.7rem;
  letter-spacing: 3.5px;
  margin-top: -2.5rem;
  margin-left: -30%;
  padding-left: 5rem;
}
.countdown-container {
  margin-left: -30%;
  padding-left: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.big-text {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0 1.6rem;
}
.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 1rem;
}
